<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>车证审核管理系统</title>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <form action="{:url('index/check_valid')}" method="post">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" name="search_car" id="search_car" value="{$search}" placeholder="请输入车号" class="layui-input search_input">
        </div>
        <input class="layui-btn search_btn" id="submit" type="submit" value="查询" />
        <!--<a class="layui-btn search_btn">查询</a>-->
    </div>
    <div class="layui-inline">共有{$num}张有效车证</div>

    <a class="layui-btn layui-btn-small" style="line-height:1.6em;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="margin-top:10px;line-height:30px">ဂ</i></a>
    </form>
    <div class="layui-inline" style="margin:10px 0 0 30px;">
        <a href="{:url('Index/toxls')}">
            <button class="layui-btn layui-btn-normal">导出全部车证</button></a>
    </div>
    <div class="layui-inline" style="margin:10px 0 0 30px;">
        <a href="{:url('Index/year_xls')}">
            <button class="layui-btn layui-btn-normal">导出<?php echo date('Y');?>年车证</button></a>
    </div>
    <div class="layui-inline" style="margin:10px 0 0 30px;">
        <button class="layui-btn layui-btn-mini" onclick="x_admin_show('选择导出时间','./outxls_choose_time',500,500)">导出车证（选择时间）</button>
    </div>
</blockquote>
<div class="layui-form news_list">
    <table class="layui-table">
        <colgroup>
            <col width="6%">
            <col width="7%">
            <col width="10%">
            <col width="10%">
            <col width="17%">
            <col width="7%">
            <col width="13%">
            <col width="20%">
            <col width="7%">
            <col width="7%">
            <!--<col width="7%">-->
        </colgroup>
        <thead>
        <tr>
            <!--<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>-->
            <th>申请号</th>
            <th style="text-align:left;">部门/系</th>
            <th>机动车<br/>所有人</th>
            <th>驾驶员</th>
            <th>学号/工号</th>
            <th>手机号</th>
            <th>车号</th>
            <th>申请时间</th>
            <th>查看详情<br/>及照片</th>
            <th>打印申请表</th>
            <!--<th>审核</th>-->
        </tr>
        </thead>
        <tbody class="news_content">

        </tbody>
        <tbody class="news_content">

        {foreach name='list' id='id' key='k'}
        <?php $apply_id = $list["$k"]["id"];?>
        <tr>
            <!--<td>-->
                <!--<input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose">-->
                <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary">-->
                    <!--<i class="layui-icon"></i>-->
                <!--</div>-->
            <!--</td>-->
            <td><b>{$list["$k"]['id']}</b></td>
            <td align="left">{$list["$k"]['major_name']}</td>
            <td>{$list["$k"]['driving_name']}</td>
            <td>{$list["$k"]['driver_name']}</td>
            <td>{$list["$k"]['studentid']}</td>
            <td>{$list["$k"]['telephone']}</td>
            <td>{$list["$k"]['car_number']}</td>
            <td><?php echo date('Y-m-d H:i:s',$list["$k"]['update_time'])?></td>
            <td>
                <a class="layui-btn layui-btn-mini" onclick="x_admin_show('申请单详情页面','./photo?id={$apply_id}')"><i class="iconfont icon-edit"></i>详情</a>
            </td>
            <td>
                <a class="layui-btn layui-btn-mini" href='topdf?id={$list["$k"]["id"]}' target="_blank"><i class="iconfont icon-edit"></i>打印</a>
            </td>
            <!--<td>-->
                <!--<button class="layui-btn layui-btn-mini" onclick="x_admin_show('审核','./checkbutton.html?id={$apply_id}',400,480)">审核</button>-->
            <!--</td>-->
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div align="center" class="page">
        <div  align="center">
            {$list->render()}
        </div>
    </div>
</div>
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote layui-quote-nm">北京大学软件与微电子学院</blockquote>
</div>
{include file='public/footer' /}
</body>
</html>