<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSCAR系统</title>
</head>
<body>
<p style="text-align:center">
    <img src="__STATIC__/qrcode_o4.jpg">
</p>
<p style="text-align:center">扫描以上小程序二维码进入系统</p>
<p style="text-align:center"><a href="https://sscar.ptczn.cn/admin.php">前往管理后台</a></p>
<div style="text-align:center">Copyright&copy;2017-2018&nbsp;&nbsp;<b>www.ptczn.cn</b>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18007602号</a></div>

</body>
</html>