<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello, here is main webpage of SScar application.</p>
<p>by PTcZn </p>
<a href="http://weixiao.qq.com/apps/school-auth/login?media_id=gh_c5c47de251c1&app_key=116BF40DF1AFB055&redirect_uri=https://icampus.ss.pku.edu.cn/iaaa/index.php/Home/Index/appredirect//appid/sspkuuwcychwknfwfc/appsecret/a19ff391407096a9ee3f79963a4c5bc0/detail/1/debug/1.html">微信登录</a>
<a href="https://sscar.ptczn.cn/admin.php">前往管理后台</a>
</body>
</html>