<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>软微大兴车证申请</title>
</head>
<body>
<p style="text-align:center;font-size:2rem;">欢迎您，{$studentid}</p>
<p style="text-align:center"><img src="__STATIC__/qrcode/<?php echo $studentid;?>data.jpg" width="70%"></p>
<!--<img src="__ROOT__/data.jpg" />-->
<p style="text-align:center;font-size:2rem;">长按扫描二维码进入</p>
<p style="text-align:center;font-size:2rem;"><b>软微车证申请</b>小程序</p>
<p style="text-align:center;font-size:2rem;"><b>注意：以上二维码含有个人信息，请勿分享</b></p>
<!--<p style="text-align:center"><a href="https://sscar.ptczn.cn/admin.php">前往管理后台</a></p>-->
</body>
</html>